@import url('https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@700&family=Ultra&display=swap');

/*common */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*font-family: 'Ultra', serif; */
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}
.container {
    width: 80%;
    margin: auto;
}
.overlay {
    width: 100%;
    height: 100vh;
    background-color: rgb(0 0 0 / 75%);
}
/* header */
.header {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-attachment: fixed;
    background-color: rgb(0 0 0 / 40%);
}
.header .logo {
    width: 40%;
    float: left;
    font-family: 'Cormorant Upright', serif;
    padding-top: 25px;
    color: rgb(240, 247, 242);
    text-transform: uppercase;
    letter-spacing: 4px;
}
.header .nav {
    width: 60%;
    float: left;
    list-style: none;
    text-align: right;

} 
.header .nav > li {
    display: inline-block;
}

.header .nav > li > a {
    text-decoration: none;
    display: block;
    padding: 30px 20px;
    color: #fff;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
}
.header .nav > li > a::after {
    content: "";
    display: block;
    background-color: #FD7E23;
    width: 0; 
    height: 2px; 
    transition: width .4s;
    margin-top: 3px;
}
.header .nav > li > a:hover::after {
    width: 100%; 
}

.clear {
    clear: both;
}
.dropdown {
    position: relative;
}
.dropdown-menu {
    position: absolute;
    background-color: #FD7E23;
    list-style: none;
    width: 160px;
    text-align: left;
    opacity: 0;
    left: -50%;
    top: 70%; 
    visibility: hidden;
    transition: opacity .5s;
}
.dropdown-menu a {
    text-decoration: none;
    color: #fff;
    text-transform: capitalize;
    padding: 10px;
    display: block;
}
.dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

/* home */
.home {
    height: 100vh;
    background: url(../image/work\ \(2\).jpg) no-repeat center;
    background-size: cover;
    background-position-y: -215px;
    position: relative;
}
.home-content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    line-height: 1.6;
    width: 70%;
    font-family: 'Montserrat', sans-serif;
    margin-top: 15px;
}
.home-content .title {
    font-size: 3rem;
    text-transform: uppercase;
    color: #FD7E23;
}
.home-content .home-des {
    font-size: 1rem;
}
.btn {
    width: 170px;
    padding: 15px 0;
    border-radius: 2px;
    border: none;
    text-transform: capitalize;
    font-size: 17px;
    margin-top: 15px;
    transition: opacity .6s;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}
.btn:hover , li a:hover{
   opacity: .8;
}
.btn-learn {
    background-color:  #FD7E23;
    margin-left: 5px;
    color: #fff;
}
/*about*/
.pd-y {
    padding: 90px 0;
}
.section-header {
    text-align: center;
}
.section-title {
    font-size: 35px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
.section-header .line {
    display: block;
    height: 3px;
    width: 60px;
    background-color: #FD7E23;
    margin: auto auto 60px auto;
}
.about-contact {
    overflow: hidden;
}
.about-item {
    float: left;
    width: 30%;
    border: 2px solid gainsboro;
    padding: 50px 20px;
    text-align: center;
    line-height: 1.6;
}
.about-item.mg{
    margin: 0 5%;
}
.about-item .icon {
    color: #FD7E23;
}
.about-item-title {
    text-transform: capitalize;
    font-family: inherit;
    transition: color .1s;
}
.about-item-desc{
    color: grey;
}
.about-item a {
    text-decoration: none;
    color: #FD7E23;
}
.about-item:hover .about-item-title {
    color: #fff;
}

.ltr-effect {
    position: relative;
}
.ltr-effect::after {
    position: absolute;
    content: "";
    background-color: rgb(83, 83, 83);
    width: 0;
    top: 0;
    left: 0;
    height: 0%;
    z-index: -1;
    transition: width .7s;
}
.ltr-effect:hover::after {
    width: 100%;
    height: 100%;
}
/* services*/
/* .services {
    background-color: #f9f9f9;
   
}
.content-services {
    overflow: hidden;
}
.content-services .item {
    float: left;
    width: 30%;
    margin-bottom: 40px;
 
}
.item.mg {
     margin: 0 5%;
}
.box-layer {
    position: relative;

}
.layer-content {
    position: absolute;
    color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}
.layer-info {
    position: absolute;
    width: 100%;
    background-color: chocolate;

} */

.portfolio {
    background-color: #e8e8e8;
}
.portfolio-content {
    overflow: hidden;
}
.portfolio-item {
    width: 32%;
    float: left;
    margin-bottom: 50px;
    position: relative;
    padding: 10px;
}
.portfolio-item .layer-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, .5);
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s;
}
.layer-info {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    width: 80%;
    transform: translate(-50%, -50%);
}
.layer-info .category {
    color: #FD7E23;
    text-transform: uppercase;
    display: block;
    margin-bottom: 10px;
    margin-top: 60px;
    transition: margin-top .5s;

}
.layer-info .title {
    font-size: 22px;
    color: #fff;
    margin-bottom: 10px;
}
.layer-info a i{
    display: inline-block;
    background-color: #FD7E23;
    color: #fff;
    width: 40px;
    height: 40px;
    line-height: 40px;
}

.portfolio-item img {
    width: 100%;
}
.portfolio-item.mg {
    margin: 0 2%;

}
.portfolio-item:hover .layer-content {
    opacity: 1;
    visibility: visible;

}
.layer-content:hover .category {
    margin-top: 0;
}
.back{
    top: 100vh;
}
.back a {
        display: inline-block;
        position: fixed;
        bottom: 20px;
        right: 20px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        text-align: center;
        background: #FD7E23;
        border-radius: 3px;
        color: #fff;
        z-index: 9999;
        transition: 0.2s opacity;
        cursor: pointer;
}
/* section offer*/
.offer-box {
    overflow: hidden;
}
.offer-content {
    width: 30%;
    float: left;
    border: 1px solid thistle;
    padding: 40px 30px 30px 70px;
    text-transform: capitalize;
    position: relative;
}
.offer-content.mg {
    margin: 0 5%;
}
.offer-content h3 {
  transition: color .6s;
  line-height: 1.6;
  padding-bottom: 10px;
}
.offer-content i {
    color: #FD7E23;
}
.offer-content:hover h3{
    color: #fff;
}
.offer-content i {
    position: absolute;
    left: 20px;
}
.offer-content p {
    color: #808080;
}

/*section our*/
.our {
    background-color: #eee;
}
.item-our {
    overflow: hidden;
}
.contant-our {
    width: 50%;
    float: left;
    line-height: 1.6;
}
.contant-our .section-header {
    text-align: left;
    margin: 0;
}
.contant-our .section-header .line {
    margin: 0 0 10px 0;
}
.contant-our .list li{
    padding: 10px 0;
    line-height: 1;
    list-style: none;
}
.img img {
    width: 50%;
}



















